.Rproj.user
.Rhistory
.RData
.Ruserdata
models/*.rds
*.log
*.aux
*.synctex.gz
*.fls
*.fdb_latexmk
daF2076e.por
results
README.html
paper/trapdoor.bbl
paper/trapdoor.blg
paper/trapdoor.out
paper/trapdoor.pdf

